.CodeMirror.cm-s-default {
  border-bottom: #000 solid 1px;
}

.CodeMirror {
  font-size: 16px;
}

.mirror-console-command {
  margin-left: 15px;
}

.mirror-console-wrapper {
  background-color: #f7f7f7;
  outline: #000000 solid 1px;
}

.mirror-console-button {
  font-size: 1.1em;
  display: inline-block;
  margin: 0.75em 0.25em;
  font-size: 0.9em;
  border: 0px none;
  border-radius: 3px;
  padding: 0.25em 1em;
  color: rgb(255, 255, 255);
  &.mirror-console-run {
    background-color: rgb(92, 184, 92);
  }
  &.mirror-console-clear {
    background-color: rgb(153, 153, 153);
  }
  &.mirror-console-exit {
    background-color: rgb(255, 0, 0);
  }
}

/* console */
.mirror-console-log-row {
  border-left: solid 10px #999;
  line-height: 1.5;
}

.mirror-console-log-normal::before {
  content: "▶";
  color: #ddd;
  margin-left: -2px; // TODO : more better?
}

.mirror-console-log-error::before {
  margin: 0 2px;
  content: "✘";
}

.mirror-console-log-info::before {
  content: "▶";
}

.mirror-console-log-warn::before {
  content: "⚠";
}
